:root{
    --branding-color: #6c63ff;
    --default-font-family: "Poppins", sans-serif;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
}
.hero h2{
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
    text-align: center;
}
.hero h1{
    font-size: 96px;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    font-family: var(--heading-font-family);
}
.hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.content h1{
    font-size: 64px;
    line-height:80px;
    text-align: center;
    text-align: start;
    }
    a.btn-branding {
    background: var(--branding-color);
    color: white;
    border: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
 
    }
    nav{
      padding: 20px 0; 
    }
    nav ul {
        padding: 0;
        margin: 0;
    text-align: right;
    margin-left: auto;
      }
      
    
    .content h2{
    font-size: 18px;
    font-family: var(--default-font-family);

    }
    .content h3{
        font-size: 54px;
        font-family: var(--heading-font-family);
        line-height: 1.2;
        font-weight: bold;
        margin-right: auto;
        color: black;
        
        
    
    }
    .project-desciption {
        padding: 120px 60px;
      }
    .content-container{
    padding: 60px 20px;
    }
    .content{
    margin: 30px;
    }
    .content p {
font-size: 20px;
text-align:justify;
font-family: var(--default-font-family);
color: #6c757d;


    }
    @media  (max-width: 900px){
    .content{
    text-align: center;
    padding: 0;
    }
    
    }
    nav a{
        text-decoration: none;
        color: #272142;
        transition: all 100ms ease-in-out;
        font-family: var(--default-font-family);
        text-align: right;
   
       
    }
    nav a:hover,
    nav li.active a {
        color: var(--branding-color)
    }

nav li{
    display:inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px ;
   
    }
  logo {
    max-height: 40px;
  }
  .hero{
  text-align: center;
  padding: 80px 20px;
  background: var(--secondary-color);
  }
  footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
   
  }
  footer .email-link:hover{
    color: var(--branding-color)
  }
  footer{
    margin: 60px 0;
  }
 footer .social-links a {
    margin:0 20px;
    color: var(--branding-color);
background-color: var(--secondary-color);
padding: 10px 14px;
font-size: 18px;
border-radius: 50%;
transition: all 100ms ease-in-out;
 }
 footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
    
 }
 footer .contact-box p{
margin: 0;
 }
 footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
  }
 h4{
   font-size: 48px; 
 }
 @media (max-width: 900px) {
    h4{
      font-size: 26;  
    }
 }
 .content p a {
    color: #0d6efd;
    text-decoration: underline;
 }
 
 .row img{
    height: 450px;
    width: 450px;
 }
button.btn-branding {
    background: var(--branding-color);
    color: white;
    padding: 14px 30px;
    line-height: 27px;
    border-radius: 4px;
    font-size: 18px;
}
 .btn-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
    line-height: 27px;
    padding: 15px 30px;

}
p.text-center{
    font-size: 16px;

}